In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [5]:
df=pd.read_csv("homeprices.csv")
df

   area  bedroom  age  price
0  2600      3.0   20  55000
1  3000      4.0   15  56500
2  3200      NaN   18  61000
3  3500      3.0   30  59500
4  4000      5.0    8  76000

In [8]:
import math
k=math.floor(df.bedroom.median())
k

3

In [15]:
df.bedroom=df.bedroom.fillna(k)
df

   area  bedroom  age  price
0  2600      3.0   20  55000
1  3000      4.0   15  56500
2  3200      3.0   18  61000
3  3500      3.0   30  59500
4  4000      5.0    8  76000

In [12]:
reg=linear_model.LinearRegression()
reg

LinearRegression()

In [16]:
reg.fit(df[['area','bedroom','age']],df.price)

LinearRegression()

In [20]:
reg.predict([[3300,4,20]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([60238.46153846])